*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    height: 70px;
    width: 100vw;
    background: rgb(24, 24, 255);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}